<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css">
    <!--<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Common/css/index.css">-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/Public/css/personalOrderDetail.css">
    <title>订单详情页面</title>
</head>
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="/Home/index/toPublicOrder">公共订单</a></li>
    <li class="layui-nav-item layui-this">
        <a href="/Home/index/toPersonalOrder">个人订单</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/Home/index/toPersonalUnTakingOrder">接订单</a></dd>
            <dd><a href="/Home/index/toPersonalOrderManage">订单管理</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="/Home/index/toPersonalMessage">个人中心</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/Home/index/toAlertPassword">修改密码</a></dd>
            <dd><a href="/Home/index/toPersonalMessage">个人信息</a></dd>
            <dd><a href="/Home/index/toPersonalOrderManage">个人订单管理</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href=""><img src="http://t.cn/RCzsdCq" class="layui-nav-img">我</a>
        <dl class="layui-nav-child">
            <dd><a href="/Home/Index/toAlertPassword">修改密码</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="/Home/Index/loginOff" id="loginOff">退出</a></dd>
        </dl>
    </li>
</ul>

<div class="all">
    <form class="layui-form" action="">
        <div class="layui-form-item toInline">
            <label class="layui-form-label">订单号</label>
            <div class="layui-input-inline">
                <input type="text" name="number" required  lay-verify="required" autocomplete="off"  class="layui-input" value="{$data[0][number]}" disabled>
            </div>
        </div>
        <div class="layui-form-item toInline">
            <label class="layui-form-label">目的地</label>
            <div class="layui-input-inline">
                <input type="text" name="out_destination" required lay-verify="required" autocomplete="off" class="layui-input" value="{$data[0][out_destination]}" disabled>
            </div>
        </div>
        <div class="layui-form-item toInline">
            <label class="layui-form-label">商品</label>
            <div class="layui-input-inline">
                <input type="text" name="goods_name" required lay-verify="required" autocomplete="off" class="layui-input"  value="{$data[0][goods_name]}" disabled>
            </div>
        </div>
        <div class="layui-form-item toInline">
            <label class="layui-form-label">数量</label>
            <div class="layui-input-inline">
                <input type="text" name="goods_quantity" required lay-verify="required" autocomplete="off" class="layui-input"  value="{$data[0][goods_quantity]}" disabled>
            </div>
        </div>
        <div class="layui-form-item toInline">
            <label class="layui-form-label">出发时间</label>
            <div class="layui-input-inline">
                <input type="text" name="start_time" required lay-verify="required" autocomplete="off" class="layui-input"  value="{$data[0][start_time]}" disabled>
            </div>
        </div>

        <div class="layui-form-item toInline">
            <label class="layui-form-label">出车车牌号</label>
            <div class="layui-input-inline">
                <input type="text" name="license_plate" id="search-license" required  lay-verify="required" value="{$data[0][license_plate]}" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item toInline">
            <label class="layui-form-label">提货单号</label>
            <div class="layui-input-inline">
                <input type="text" name="pick_up_order" required  lay-verify="required" value="{$data[0][pick_up_order]}" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item toInline">
            <label class="layui-form-label">提货时间</label>
            <div class="layui-input-inline">
                <input type="text" name="pick_up_time" class="layui-input"  autocomplete="off" value="{$data[0][pick_up_time]}" id="test1" disabled>
            </div>
        </div>

        <div class="layui-form-item toInline">
            <label class="layui-form-label">提货数量</label>
            <div class="layui-input-inline">
                <input type="text" name="pick_up_quantity" required  lay-verify="required" value="{$data[0][pick_up_quantity]}" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item toInline">
            <label class="layui-form-label">合同号</label>
            <div class="layui-input-inline">
                <input type="text" name="contract_number" required  lay-verify="required" value="{$data[0][contract_number]}"  autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item toInline">
            <label class="layui-form-label">缺货信息</label>
            <div class="layui-input-inline">
                <input type="text" name="out_of_stock_message" required  lay-verify="required" value="{$data[0][out_of_stock_message]}" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>


        <div class="layui-form-item toInline">
            <label class="layui-form-label">结算单位</label>
            <div class="layui-input-inline">
                <input type="text" name="closing_unit" required  lay-verify="required" value="{$data[0][closing_unit]}"  autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div>
            <div class="layui-form-item toInline">
                <label class="layui-form-label">送达数量</label>
                <div class="layui-input-inline">
                    <input type="text" name="real_quantity" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">送达需填写此项（单位t）</div>
            </div>
        </div>


        <div class="layui-form-item ">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="__PUBLIC__/jquery-3.3.1.min.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script src="__PUBLIC__/jquery.cookie.js"></script>
<script src="__ROOT__/Application/Home/Common/common.js"></script>
<script src="__ROOT__/Application/Home/Public/js/personalOrderDetail.js"></script>
</body>
</html>