<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title>预约记录</title>
	<script type="text/javascript" src="__ROOT__/Application/Home/View/js/flexible.js"></script>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/View/css/yuyuejilu.css">


	<link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/View/css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Application/Home/View/css/weui.min.css">

</head>
<body>
	<div id="main">
		<div class="line">
			<div class="lineTop">
				<span class="time">2018-05-11</span>
				<span class="statu ing">正在装</span>

			</div>
			<div class="lineCon">
				<span class="lineCon-left">油品类型</span>
				<span class="lineCon-right">油品类</span>
			</div>
			<div class="lineCon">
				<span class="lineCon-left">车牌号码</span>
				<span class="lineCon-right">粤AE86</span>
			</div>
			<div class="lineCon">
				<span class="lineCon-left">公司名称</span>
				<span class="lineCon-right">测试公司</span>
			</div>
			<div class="lineCon">
				<span class="lineCon-left">真实姓名</span>
				<span class="lineCon-right">测试者</span>
			</div>
			<div class="lineCon">
				<span class="lineCon-left">联系电话</span>
				<span class="lineCon-right">181026601231</span>
			</div>
		</div>
		<div class="line">
			<div class="lineTop">
				<span class="time">2018-05-10</span>
				<span class="statu">厂外待装</span>

			</div>
			<div class="lineCon">
				<span class="lineCon-left">油品类型</span>
				<span class="lineCon-right">油品类</span>
			</div>
			<div class="lineCon">
				<span class="lineCon-left">车牌号码</span>
				<span class="lineCon-right">粤BE86</span>
			</div>
			<div class="lineCon">
				<span class="lineCon-left">公司名称</span>
				<span class="lineCon-right">测试公司</span>
			</div>
			<div class="lineCon">
				<span class="lineCon-left">真实姓名</span>
				<span class="lineCon-right">测试者1</span>
			</div>
			<div class="lineCon">
				<span class="lineCon-left">联系电话</span>
				<span class="lineCon-right">181026601231</span>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="__ROOT__/Application/Home/View/js/vue.min.js"></script>

</html>