@charset "utf-8";

*{
	margin:0;
	padding: 0;
	font-family:"MIcrosoft YaHei" ;
    -webkit-tap-highlight-color:transparent;
}
body{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	position: relative;
	background-color:#f4f4f4;
	height: 100%;


}
ul,li{
	-webkit-padding-start: 0px;
	list-style-type: none;
}
a{
	text-decoration:none;outline:none;
   -moz-outline-style:none;
}
input{
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);
	-o-tap-highlight-color:rgba(0, 0, 0, 0);
	tap-highlight-color:rgba(0, 0, 0, 0);
	outline:none;
}

.top{
	background-color: #fff;
	font-size: .4rem;
	color: #444444;
}
.userInfo{
	padding: .4rem .25rem;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}
.userInfo img{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	float: left;
}
.userInfo span{
	float: left;
	margin-left: .3rem;
	margin-top: .45rem;

}

.l{
	color: #444444;
	height: 1rem;
	line-height: 1rem;
	position: relative;
	display: block;
	width: 95%;
	margin: 0 auto;
}



.carInfo{
	background-color: #fff;
    padding: .2rem;
    overflow: hidden;
    height: 1rem;
    line-height: 1rem;
    color: #444444;
    width: 90%;
    margin: 0 auto;
    margin-top: .3rem;
    font-size: .4rem;
}
.carInfo .num{
	float: left;
	width: .6rem;
	height: .6rem;
	text-align: center;
	border-radius: 50%;
	border:1px solid #e5e5e5;
	margin-top: .2rem;
    line-height: 1.5;
}
.carInfo .chepai{
	float: left;
	margin-left: .5rem;
}
.carInfo .statu{
	float: right;
}
.carInfo .ing{
	color: rgb(91,196,6);
}
.carInfo .cq{
	color: rgb(250,205,23);
}
.carInfo .numIng{
	background-color: rgb(91,196,6);
	color: #fff;
	border:1px solid rgb(91,196,6);
}
.carInfo .numCq{
	background-color:rgb(250,205,23);
	color: #fff;
	border:1px solid rgb(250,205,23);
}


.myIfo{
	margin-top: .3rem;
	background-color: #fff;
	font-size: .4rem;
	padding: .25rem 0;
}
.m{
	background-color: #fff;
	overflow: hidden;
}
.m span{
	float: left;
}
.m span:last-child{
	float: right;
	margin-right: 1rem;
	color: #999999;
}

.line{
	border-top: 1px solid #e5e5e5;
	width: 95%;
	margin: 0 auto;
	padding: .2rem .25rem;
	height: 1.5rem;
	display: flex;

}
.line div{
	flex: 1;
}
.line span{
	display: block;
	color: #999999;
	margin-bottom: .1rem;
}
.line p{
	font-size: .45rem;
}


.contact{
	background-color: #fff;
	color: #333;
	font-size: .4rem;
	margin-top: .3rem;
}
.contact a{
	height: 1.2rem;
	line-height: 1.2rem;
	position: relative;
	display: block;
	color: #333;
	width: 95%;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;
}
.contact a:last-child{
	border-bottom: 0;
}


#footer{
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	display: flex;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
	height: 1.5rem;
	font-size: .4rem;
}
#footer a{
	flex: 1;
	text-align: center;
	color: #333;
}
#footer a img{
	width: .6rem;
	height: .6rem;
	margin-top: .15rem;
}
#footer a.on{
	color: #EB8124;
}

